<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningAPP">
        <activity
            android:name=".Activity.Teacher_view_unchecked_students_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Teacher_Manage_Checkin_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_checkin_password_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_ClassRoom_CheckIn_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_ClassRoom_Messages_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Teacher_create_checkin"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_ClassRoom_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_join_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_enterClassRoom_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewStudent_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Teacher_ClassRoom_Management_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateClassRoom_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Sign_Up_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Teacher_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>